@import 'variables';

h1{
    color:$green-color;
}
h2{
    color:$green-color;
}

.card-course-item {
    margin-top: 16px;
}

.user-avatar{
    height: 28px;
    width: 28px;
    border-radius: 30%;
    margin-right:4px;
}

.sub_menu a{
    text-decoration: none;
}

.checkbox-select-all-options{
    width: 134px;
    margin: 0 12px 0 12px;
}
