@import 'variables';

h1{
    color:$green-color;
}
h2{
    color:$green-color;
}

.card-course-item {
    margin-top: 16px;
}

.user-avatar{
    height: 28px;
    width: 28px;
    border-radius: 30%;
    margin-right:4px;
}

.sub_menu a{
    text-decoration: none;
}

.checkbox-select-all-options{
    width: 134px;
    margin: 0 12px 0 12px;
}

.table td, .table th {
    padding: .95rem 0.5rem;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.father{
    position: relative;
}


.btn-createProduct {
    display: inline-block;
    margin-left: 41rem;
    border : 2px solid;
    border-radius: 10px;
}